<% if book.errors.any? %>
  <%= book.errors.count %>error has found this obj from being saved:
  <ul>
    <% book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class= "col-md-3">
  <h2>User Info<i class="fa-solid fa-address-book ml-2"></i></h2>
  <%= image_tag user.get_profile_image %>
  <table class= "table">
    <tr>
      <th>Name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>Introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </table>
<div class= "row mb-5 pt-3">
    <%= link_to  edit_user_path(user.id), class: 'btn btn-outline-secondary btn-block' do%>
    <i class="fa-solid fa-user-cog"></i>
    <% end %>
</div>


<h2>New book<i class="fa-solid fa-book-journal-whills ml-2"></i></h2>

<%= form_with model: book, url: '/books',method: :post do |f| %>

  <h6>Title</h6>
  <%= f.text_field :title %>

  <h6>Opinion</h6>
  <%= f.text_area :body %><br />

  <%= f.submit 'Create Book', class: 'btn btn-success btn-block mt-2' %>
<% end %>
</div>
