<h2>Books</h2>
<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  <tr>
    <% @books.each do |book| %>
    <td><%= image_tag book.user.get_profile_image %></td>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <% end %>
  </tr>
</table>

<h2>User Info</h2>
  <%= image_tag @user.get_profile_image %>
  <table>
    <tr>
      <th>Name</th>
    </tr>
    <tr>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>Introduction</th>
    </tr>
    <tr>
      <td><%= @user.introduction %></td>
    </tr>
  </table>
    <%= link_to "User Edit", edit_user_path(current_user) %>


<h2>New Book</h2>

<%= form_with model: @book, url: '/books',method: :post do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %><br />

  <%= f.submit 'Create Book' %>
<% end %>
