<div>
  <%= flash[:notice] %>
</div>

<div class= "container">
  <div class= "row">
    <%= render 'info', user: @user, book: @book_new %>
    <div class= "col-md-7 offset-md-1">
      <h2>Book detail</h2>
      <table class= "table">
        <tr>
          <th><%= image_tag @user.get_profile_image %><br><%= link_to @user.name, user_path(@user) %></th>
          <th><%= link_to @book.title, book_path(@book) %></th>
          <th><%= @book.body %></th>
          <% if @user == current_user %>
          <th><%= link_to "Edit",  edit_book_path(@book), class: 'btn btn-success btn-block mt-2' %></th>
          <th><%= link_to "Destroy", book_path(@book), class: 'btn btn-danger btn-block mt-2', method: :delete, "data-confirm" => "Are you sure?" %></th>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>


